ul {
    list-style: none;
    padding: 1px;
    display: block;
    clear: right;
    height: 24px;

}

ul li {
    display: inline;
    padding: 10px;
}

.par {
    background-color: blue;
    font-size: 2.5em;
}

.impar {
    background-color: skyblue;
    font-size: 2.5em;

}